/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color:#f7f7f7;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #c9c9c9;
  border: 1px solid #dddddd;
}

body > .container 
{
  border: 1px solid #dddddd;
  background-color: white;
  padding: 60px 15px 0;
}

